<!--script type="text/javascript" src="/lib/core/core.js"></script>
<link rel="stylesheet" type="text/css" href="\lib\datatables\media\css\jquery.datatables.min.css"-->
<section data-ng-controller="HomeController">
	<div class="main">
		<div>
			<br/><br/><br/><br/>
		</div>
		<h1 class="text-center text-muted">Bringing you the best in Web Development</h1>
		<h3 class="text-center text-muted">Like No One Ever Was!</h3>
		<div ng-repeat="alert in alerts">
			<br/><br/>
		</div>
		<h1 id="moreArrow" class="text-center"><a href="javascript:void(0)" ><span class="glyphicon glyphicon-menu-down text-muted"></span></a></h1>
		<div ng-repeat="alert in alerts">
			<br/><br/>
		</div>

		<div id="target"></div>

	</div>
	


	
	<!--
<div class="row">
		<div class="col-sm-6" ng-repeat="alert in alerts">
			<div class="row">
				<div class="col-xs-4">
					<h1 class="pull-right">
						<button type="button" class="btn" ng-class="alert.color">
							<i ng-class="alert.icon" class="glyphicon"></i>
						</button>
					</h1>
				</div>
				<div class="col-xs-8">
					<h1>{{alert.total}}</h1>
				</div>
			</div>
			<div class="row">
				<div class="col-xs-8 col-xs-offset-4">
					<span class="text-muted">{{alert.description}}</span>
				</div>
			</div>
		</div>
	</div>


	table id="dtable" class="display" cellspacing="0" width="100%">
		 <thead>
            <tr>
                <th>Name</th>
                <th>Position</th>
                <th>Office</th>
            </tr>
        </thead>
 
        <tfoot>
            <tr>
                <th>Name</th>
                <th>Position</th>
                <th>Office</th>
            </tr>
        </tfoot>

		<tbody>
            <tr>
                <td>Tiger Nixon</td>
                <td>System Architect</td>
                <td>Edinburgh</td>
            </tr>
            <tr>
                <td>Garrett Winters</td>
                <td>Accountant</td>
                <td>Tokyo</td>
            </tr>
            <tr>
                <td>Ashton Cox</td>
                <td>Junior Technical Author</td>
                <td>San Francisco</td>
            </tr>
        </tbody>

        <script>
$(document).ready(function() {
    $('#dtable').DataTable();
} );
</script>

	</table-->
</section> 

