.content {
	margin-top: 50px;
}
.undecorated-link:hover {
	text-decoration: none;
}
[ng\:cloak], [ng-cloak], [data-ng-cloak], [x-ng-cloak], .ng-cloak, .x-ng-cloak {
	display: none !important;
}
.ng-invalid.ng-dirty {
	border-color: #FA787E;
}
.ng-valid.ng-dirty {
	border-color: #78FA89;
}

head
{
	background-color: #EEEEFF;
}
body 
{
	background-color: #FFFFFF;
	/*	#99CCFF
	background-image: url('/modules/core/img/content/milky-way.jpg');*/
}

.main {
	width: 100%;
	/*background-color: #0000FF;*/
	font-size: 50;
	color: #EEEEEE;
}

h2
{
	color: #000000;
}